.nav {
  position: relative;
  min-width: 80px;
  min-height: 100px;
}
.nav__burger {
  position: absolute;
  display: flex;
  top: 30px;
  left: 0;
  width: 36px;
  height: 36px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  z-index: 20;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
.nav__burger-icon {
  display: block;
  position: relative;
  background: #069235;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.nav__burger-icon:before,
.nav__burger-icon:after {
  content: '';
  display: block;
  position: absolute;
  background: #069235;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.nav__burger-icon::after {
  top: 10px;
}

.nav__burger-icon::before {
  top: -10px;
}

.nav.active .nav__burger-icon {
  background: transparent;
}

.nav.active .nav__burger-icon::before,
.nav.active .nav__burger-icon::after {
  top: 0;
}

.nav.active .nav__burger-icon::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.nav.active .nav__burger-icon::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.nav__list {
  position: fixed;
  top: 0;
  width: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 100px 0 50px;
  background: linear-gradient(45deg, #009f2a, #cccc00);
  overflow: hidden;
  transition: 0.5s;
  z-index: 10;
}
.nav.active .nav__list {
  width: 380px;
}
.nav__item { 
  &.active {
    background: linear-gradient(90deg, rgb(253, 253, 85, 0.5) 8px, transparent);
  }
}
.nav__link {
  display: block;
  font-family: Roboto;
  height: 56px;
  line-height: 36px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  padding: 10px 30px 10px 80px;
  background-position: 30px 50%;
  background-repeat: no-repeat;
  background-size: 30px auto;
  white-space: nowrap;
  text-shadow: -1px 0 1px #069235, 1px 0px 1px #069235, 0px 1px 1px #069235, 0px -1px 1px #069235;
  transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.nav__item.active .nav__link,
.nav__link:hover {
  color: yellow;
  background-position: 27px 50%;
  background-size: 36px auto;
}
.nav__item.active .nav__link {
  pointer-events: none;
  cursor: default;
}
@media (max-width: 1080px) {
  .nav.active .nav__list {
    width: 320px;
  }
}
